{% extends 'base.html' %}

<script>
{% block jquery %}
// var endpoint = '/api/data_mapping/'
var endpoint = '/api/data_day/'
var defaultTemp = []
var labelsTemp = []
var defaultLight = []
var labelsLight = []
var defaultSound = []
var labelsSound = []
var defaultHumid = []
var labelsHumid = [];
$.ajax({
    method: "GET",
    url: endpoint,
    success: function(data){
        // var parsedData = JSON.parse(data.temperature)
        // console.log(data)
        labelsTemp = data.temperature.labels
        labelsHumid = data.humidity.labels
        labelsLight = data.light_intensity.labels
        labelsSound = data.sound_intensity.labels
        // labels = data.temperature.2018-04-29.labels
        // console.log(labels)
        defaultTemp = data.temperature.default
        defaultHumid = data.humidity.default
        defaultLight = data.light_intensity.default
        defaultSound = data.sound_intensity.default
        // defaultData = data.temperature.2018-04-29.default
        // console.log(defaultData)
        setChart()
    },
    error: function(error_data){
        console.log("error")
        console.log(error_data)
    }
})

function setChart(){
    var ctx = document.getElementById("myChart");
    var ctx2 = document.getElementById("myChart2");
    var ctx3 = document.getElementById("myChart3");
    var ctx4 = document.getElementById("myChart4");
    
    var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: labelsTemp,
        datasets: [{
            label: 'Temperature in degree Celcius',
            data: defaultTemp,
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                
                
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                

            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:false
                }
            }]
        }
    }
});

    var myChart2 = new Chart(ctx2, {
    type: 'line',
    data: {
        labels: labelsHumid,
        datasets: [{
            label: 'Humidity in percentage %',
            data: defaultHumid,
            backgroundColor: [
                
                'rgba(54, 162, 235, 0.2)',
                
            ],
            borderColor: [
                
                'rgba(54, 162, 235, 1)',
                

            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:false
                }
            }]
        }
    }
});


    var myChart3 = new Chart(ctx3, {
    type: 'line',
    data: {
        labels: labelsLight,
        datasets: [{
            label: 'Light Intensity in cd/m2',
            data: defaultLight,
            backgroundColor: [
               
                'rgba(255, 206, 86, 0.2)',
                
            ],
            borderColor: [
               
                'rgba(255, 206, 86, 1)',
                
             ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:false
                }
            }]
        }
    }
});

    var myChart4 = new Chart(ctx4, {
    type: 'line',
    data: {
        labels: labelsSound,
        datasets: [{
            label: 'Sound Level in dB',
            data: defaultSound,
            backgroundColor: [
               
                'rgba(75, 192, 192, 0.2)',
               
            ],
            borderColor: [
                
                'rgba(75, 192, 192, 1)',
               
             ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:false
                }
            }]
        }
    }
});


}





{% endblock %}
</script>

{% block content %}

<div class='row'>
    <div class='col-sm-12' url-endpoint='/api/data_mapping/'>
        <h1>Today's Classroom Environment</h1>
        <div class='col-sm-6'>
            <canvas id="myChart" width="400" height="400"></canvas>
        </div>
        <div class='col-sm-6'>
            <canvas id="myChart2" width="400" height="400"></canvas>
        </div>
        <div class='col-sm-6'>
            <canvas id="myChart3" width="400" height="400"></canvas>
        </div>
        <div class='col-sm-6'>
            <canvas id="myChart4" width="400" height="400"></canvas>
        </div>


    </div>
</div>

{% endblock content %}
